[user]
	email = meowlicious99@gmail.com
	name = Surya G
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	default = current
[alias]
	s = status
	push = push -u origin HEAD
	co = checkout
	b = branch
