@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;
@define-color overlay0 #6c7086;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  background-color: transparent;
  color: @text;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 12px;
}

window#waybar {
  background-color: @base;
}

/* Slightly reduced font for external monitor */
window#waybar.DP-1 * {
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @subtext0;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
  color: @subtext1;
}

#cpu {
  color: @sapphire;
}

#battery {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#network {
  color: @sky;
}

#bluetooth {
  color: @blue;
}

#pulseaudio {
  color: @lavender;
}

#clock {
  color: @rosewater;
  margin-left: 8.75px;
}

#custom-workspace-info {
  color: @blue;
  font-weight: 600;
}

#custom-expand-icon {
  margin-right: 7px;
  color: @overlay0;
}

tooltip {
  padding: 2px;
  background-color: @surface0;
  color: @text;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}
